
<div class="container">
    <div class="row">
        <div class="col-3">
        <h2>User info</h2>

        <%= form_for(@user) do |f| %>

          <%= render 'layouts/error', model: f.object %>

            <div>
                <%= f.label :Name %>
                <%= f.text_field :name, class: "col-3 name"%>
            </div>
            <div>
                <%= f.label :Image %>
                <%= f.attachment_field :profile_image, class: "col-3 user_image" %>
            </div>
            <div>
                <%= f.label :Introduction %>
                <%= f.text_area :introduction, class: "col-3 introduction" %>
            </div>
            <%= f.submit "Update User", class: "btn btn-primary col-3", method: :post %>
        <% end %>
        </div>
    </div>
</div>
